{% extends 'layouts/base.html.twig' %}

{% block title 'Pinterest clone' %}

{% block body %}
	{% if pins | length > 0 %}
		<h1 class="text-center mb-5 text-muted">{{ pluralize(pins | length, 'Pin') }}</h1>
		<div class="row ">
			{% for pin in pins %}
				<div class="col-md-4 mb-5">
					<article class="pin bg-white rounded shadow">
                        <div class="mw-100 rounded-top overflow-hidden">
                            <a href="{{ path('app_pins_show', {slug:pin.slug}) }}">
                                <img class="w-100" src="{{ (pin.imageName ? vich_uploader_asset(pin) : asset('build/images/placeholder.jpg')) | imagine_filter('squared_thumbnail_medium') }}" alt="{{ pin.title }}"/>
                            </a>
                        </div>
						<h2 class="h5 pt-3">
							<a class="ps-3 text-decoration-none text-secondary" href="{{ path('app_pins_show', {slug:pin.slug}) }}">
								{{ pin.title }}
							</a>
						</h2>
						<p class="ps-3 pb-3 text-muted"><small>Publié par {{pin.user.fullName}}</small></p>
					</article>
				</div>
			{% endfor %}
		</div>
	{% else %}
		<p class="h3 text-center mt-5">Il n'y a encore aucuns pins
			<a href="{{ path('app_pins_create') }}">Soyez le premier à en créer !</a>
		</p>
	{% endif %}
{% endblock %}
